table {
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
}

table td {
  border: 1px solid black;
  width: 300px;
  height: 150px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.frame {
  border-radius: 20px;
  position:relative;
  text-align: center;
  width: 90%;
  height: 90%;
  margin: auto;
  border: 1px solid black;
}